@import './variables.scss';
@import './post_page.scss';

.section-title {
    color: var(--black);
    font-size: 38px;
    font-style: normal;
    font-family: GilroyBold;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;

    &--blue {
        color: var(--ie-blue);
    }

    &--pink {
        color: var(--ie-pink);
    }
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea,
select {
    all: unset;
    border-radius: 4px;
    border: 1px solid;
    padding: 8px 15px;
    background: white;
    border-color: var(--black);

    &:focus {
        border-color: var(--ie-blue);
    }

    &.input-small {
        font-size: 14px;
        padding: 6px 18px;
    }

    &.input--hidden {
        display: none;
    }
}

.v3ti {
    border-radius: 4px !important;
    border: 1px solid !important;
    padding: 4px 15px !important;
    background: white !important;
    border-color: var(--black) !important;
    line-height: normal !important;

    &--focus {
        border: 1px solid !important;
        border-color: var(--ie-blue) !important;
        box-shadow: none !important;
    }

    &-content {
        gap: 5px;
    }

    &-new-tag {
        margin: 0 !important;
        padding: 0 !important;
        font-family: 'Gilroy';
        font-size: 18px;
    }

    &-tag {
        margin: 0 !important;
    }
}

input.hidden-input {
    display: none;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: var(--ie-blue);
    width: 22px;
    height: 22px;
    border-radius: 4px;
    border: 3px solid #00AAB5;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;

    cursor: pointer;

    &::before {
        content: "";
        width: 16px;
        height: 16px;
        box-shadow: inset 1em 1em white;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    &:checked{
        background: var(--ie-blue);
        &::before {
            clip-path: path("m9.79,8l5.84-5.84c.49-.49.49-1.3,0-1.79-.49-.49-1.3-.49-1.79,0l-5.84,5.84L2.16.37C1.67-.12.87-.12.37.37-.12.87-.12,1.67.37,2.16l5.84,5.84L.37,13.84c-.49.49-.49,1.3,0,1.79.25.25.57.37.9.37s.65-.12.9-.37l5.84-5.84,5.84,5.84c.25.25.57.37.9.37s.65-.12.9-.37c.49-.49.49-1.3,0-1.79l-5.84-5.84Z");
        }
    }

    &.checkbox-small {
        width: 18px;
        height: 18px;
        border-radius: 3px;
        border: 2px solid var(--ie-blue);

        &::before {
            width: 14px;
            height: 14px;
        }

        &:checked {
            &::before {
                clip-path: path("M8.5,7l4.7-4.7c0.4-0.4,0.4-1,0-1.5c-0.4-0.4-1-0.4-1.5,0L7,5.5L2.3,0.8c-0.4-0.4-1-0.4-1.5,0c-0.4,0.4-0.4,1.1,0,1.5L5.5,7 l-4.7,4.7c-0.4,0.4-0.4,1,0,1.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3L7,8.5l4.7,4.7c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 c0.4-0.4,0.4-1,0-1.5L8.5,7L8.5,7z");
            }
        }
    }
}

label {
    input[type="checkbox"] {
        & + * {
            cursor: pointer;
        }
    }
}

a {
    transition: .2s ease-out;
    color: var(--ie-pink);
    font-family: GilroySemiBold;

    &:hover, &:focus {
        color: var(--ie-blue) !important;
    }
}

.v-md-editor {
    box-shadow: none !important;
    border: 1px solid var(--black);
    overflow: hidden;

    &:focus-within {
        border-color: var(--ie-blue);
    }
}

section[class$="-section"]  {
    width: var(--width);
    max-width: var(--max-width);
    margin: auto;
    margin-bottom: 50px;

    .section-title {
        text-align: center;
        margin: 37px auto;
        width: auto;
    }

    div[class$="_grid"] {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    div[class$="_grid-list"] {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 130px;

        div[class$="_grid"] {
            display: grid;
            grid-template: auto / 1fr 1fr;
            gap: 150px 135px;
            align-items: start;
        }

        div[class$="_grid-list"] {
            margin-left: 30px;
            gap: 40px;
        }
    }
}