$ie-blue: #00AAB5;
$ie-pink: #ED0F69;
$black: #1E1E1E;
$ie-blue--transp: #00AAB5CC;
$ie-blue--whiteout: #00a9b563;
$ie-blue--light: lighten($ie-blue, 60%);
$ie-pink--transp: #ED0F69CC;
$black--transp: #1E1E1ECC;
$grey: #939393;
$dark-grey: #3b3b3b;
$width: 1128px;
$max-width: 95vw;

html {
    --ie-blue: #00AAB5;
    --ie-pink: #ED0F69;
    --black: #1E1E1E;
    --ie-blue--transp: #00AAB5CC;
    --ie-blue--whiteout: #00a9b563;
    --ie-blue--light: #e8feff;
    --ie-pink--transp: #ED0F69CC;
    --black--transp: #1E1E1ECC;
    --grey: #939393;
    --dark-grey: #3b3b3b;
    --width: 1128px;
    --max-width: 95vw;
}