$ie-blue: #00AAB5;
$ie-pink: #ED0F69;
$black: #1E1E1E;
$ie-blue--transp: #00AAB5CC;
$ie-blue--whiteout: #00a9b563;
$ie-pink--transp: #ED0F69CC;
$black--transp: #1E1E1ECC;
$grey: #939393;
$dark-grey: #3b3b3b;
$max-width: 1128px;