.post_page {
  width: var(--width);
  max-width: var(--max-width);
  margin: auto;
  padding-bottom: 30px;

  &-header {
    margin-bottom: 12px;
    .other_content-button {
      img {
        height: 45px;
        border-radius: 3px;
      }

      display: flex;
      align-items: center;
      gap: 12px;

      padding-left: 38px;
      padding-right: 38px;

      &.e2r-button {
        padding-left: 12px;
      }
    }
  }

  article {
    .post-content {
      h1 {
        font-size: 38px;
        font-family: GilroyBold;
        margin-bottom: 1rem;
        color: #1e1e1e;
      }

      h2 {
        font-size: 30px;
        font-family: GilroyBold;
        margin-bottom: 1rem;
        color: #1e1e1e;
      }

      h3 {
        font-size: 24px;
        font-family: GilroyBold;
        margin-bottom: 1rem;
        color: #1e1e1e;
      }

      h4 {
        font-size: 20px;
        font-family: GilroyBold;
        margin-bottom: 1rem;
        color: #1e1e1e;
      }

      h5 {
        font-size: 18px;
        font-family: GilroyBold;
        margin-bottom: 1rem;
        color: #1e1e1e;
      }

      p,
      li {
        color: #1e1e1e;
        font-family: GilroyRegular;
        font-size: 18px;
      }

      strong {
        font-family: GilroySemiBold;
      }

      img {
        width: 100%;
        border-radius: 9px;
      }

      a {
        color: var(--ie-pink);
      }

      .inclusion_indicators-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 48px;

        a {
          color: #fff;
          padding: 6px 8px;
          border-radius: 4px;
          border: 2px;
          border-style: solid;
          background: var(--ie-blue);
          border-color: var(--ie-blue);
          transition: 0.2s ease-out;
          text-decoration: none;
          font-size: 20px;
          font-style: normal;
          font-family: GilroyBold;
          font-weight: 700;

          &:hover,
          &:focus:not(:disabled) {
            background: var(--ie-blue--transp);
            color: white !important;
          }
        }
      }
    }

    header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 28px;
      margin-bottom: 38px;

      .header_texts {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 31px;
        justify-content: space-between;
        width: 100%;

        h1 {
          color: #1e1e1e;
          font-size: 40px;
          font-family: GilroyBold;
          margin: 0;
        }

        h2 {
          color: #1e1e1e;
          font-size: 22px;
          font-family: GilroyRegular;
          margin: 0;
        }
      }

      .header_info {
        width: 100%;
      }

      img {
        width: 100%;
        border-radius: 9px;
        object-fit: cover;
      }

      &.header--column {
        flex-direction: column;

        img {
          width: 100%;
          border-radius: 9px;
          aspect-ratio: 16 / 8;
          object-fit: cover;
        }
      }
    }

    .post-tags {
      .tag {
        color: var(--black);
      }
    }
  }

  &.static_page {
    header {
      flex-direction: column;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .post_page {
    & > * {
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
    article {
      header {
        flex-direction: row;

        img {
          width: 42%;
          aspect-ratio: 16 / 9;
        }
      }
    }
  }
}
