html {
  --ie-blue: #00aab5;
  --ie-pink: #ed0f69;
  --black: #1e1e1e;
  --ie-blue--transp: #00aab5cc;
  --ie-blue--whiteout: #00a9b563;
  --ie-blue--light: #e8feff;
  --ie-pink--transp: #ed0f69cc;
  --ie-pink--whiteout: #ff85b663;
  --black--transp: #1e1e1ecc;
  --light-grey: #e0e0e0;
  --grey: #939393;
  --dark-grey: #3b3b3b;
  --width: 1128px;
  --max-width: 90vw;

  --left-limit: calc((100vw - var(--max-width)) / 2);

  @media screen and (min-width: 1024px) {
    --width: 1280px;
    --max-width: 95vw;
  }
}
